#!/bin/sh

# https://wiki.archlinux.jp/index.php/Fcitx
# https://wiki.archlinux.jp/index.php/Fcitx5
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export SDL_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
