[theme]
name = "plain"
[theme.overrides]
idle_bg = "#000000"
info_bg = "#ffa500"
info_fg = "#000000"
separator = ""

[icons]
name = "material-nf"

[[block]]
block = "music"
buttons = ["prev", "play", "next"]
format = "{title}"
hide_when_empty = true
marquee = false
max_width = 256
dynamic_width = true

[[block]]
block = "cpu"

[[block]]
block = "memory"
clickable = false
format_mem = "{mem_used} / {mem_total:2}"

[[block]]
block = "disk_space"
format = "{icon} {used} + {free} = {total}"

[[block]]
block = "net"
device = "wlan0"
format = "{signal_strength}"

[[block]]
block = "sound"
on_click = "pactl set-sink-mute @DEFAULT_SINK@ toggle"

[[block]]
block = "time"
format = "%Y-%m-%d_%a_%H:%M:%S"
interval = 1
